openapi: 3.0.3
info:
  title: Engagedly API
  version: beta
  description: |
    Reference documentation for the Engagedly API.

    **Downloads:** [OpenAPI spec](openapi.yaml) · [Postman collection](engagedly-api.postman_collection.json)

    # Getting Started

    ## Authentication

    Every request is authenticated with a **Client Key** and **Secret Key**, sent as the
    `ClientKey` and `SecretKey` request headers. Keys are generated by a **Site Administrator**
    under *Integrations → Engagedly API*. You must be a Site Administrator to generate them, and
    the keys carry the permissions of the user who generated them. **The secret key is shown only
    once — copy it when you generate it.** The API does **not** support CORS.

    ```bash
    curl "https://api.engagedly.com/beta/users" \
      -H "ClientKey: xxxxxxxxxxxxxx" \
      -H "SecretKey: xxxxxxxxxxxxxx"
    ```

    ## Requests

    All requests specify an API version in the URL. The current version is **beta**; the base
    endpoint is `https://api.engagedly.com/beta/`. All requests must use HTTPS (plain HTTP fails).
    `POST`/`PUT`/`PATCH` bodies are JSON and require `Content-Type: application/json` (otherwise
    the API returns `415 Unsupported Media Type`).

    The API is plain JSON over HTTP and uses the following HTTP verbs:

    | Verb | Purpose |
    | ---- | ------- |
    | `GET` | Get one or more entities. |
    | `POST` | Create an entity. |
    | `PUT` | Update an entity. |
    | `DELETE` | Delete an entity. |

    ## Responses & pagination

    Successful responses are JSON with a `success: true` flag. A single resource is represented
    as a JSON object; a collection of resources as a JSON array of objects. Blank fields are
    included as `null` instead of being omitted (blank arrays as `[]`). Timestamps are in UTC
    and formatted as ISO8601.

    List endpoints are paginated via the `page` and `size` query parameters; responses include
    a `pagination` object with `page`, `size`, `has_more`, and `total_records`.

    Pagination rules are enforced centrally for **all** `/beta` endpoints: `page` starts at
    **1** and `size` may be at most **50** — a `size` above 50 (or negative), or a `page`
    below 1, is rejected with `400 Bad Request`. When omitted, `page` defaults to **1** and
    `size` defaults to **25** (Learning endpoints: **15**). The learner-reports endpoint
    requires `page` and `size` to be supplied explicitly.

    ## Rate limiting

    Requests are rate limited **per API credential (`ClientKey`)** — up to **200 requests per
    minute**, shared across all `/beta` endpoints (the limit is not tracked separately per
    endpoint).

    Every response includes headers describing your current rate-limit state:

    | Header | Description |
    | ------ | ----------- |
    | `X-RateLimit-Limit` | The maximum number of requests allowed in the current window. |
    | `X-RateLimit-Remaining` | The number of requests remaining in the current window. |
    | `X-RateLimit-Reset` | The epoch time (in seconds) when the current window resets. |
    | `Retry-After` | Seconds to wait before retrying. Present only on `429` responses. |

    When you exceed the limit the API responds `429 Too Many Requests` and applies a **cooldown**
    that **escalates** on repeated violations — starting at **1 minute**, then 3, 5, 10, up to
    15 minutes before resetting after a quiet period. Back off when you receive a `429`;
    repeatedly hitting the limit lengthens the cooldown. The `429` body is
    `{ "error_type": "rate_limit_exceeded", "message": "…" }`.

    ## HTTP status codes

    | Code | Meaning |
    | ---- | ------- |
    | 200 | OK — everything worked as expected. |
    | 201 | Created — one or more resources were created. |
    | 204 | No Content — succeeded, no response body. |
    | 400 | Bad Request — malformed or missing parameter. |
    | 401 | Unauthorized — invalid auth token. |
    | 402 | Request Failed — parameters valid but the request failed. |
    | 403 | Forbidden — insufficient permission, or not a user of the organization. |
    | 404 | Not Found — wrong URL, or the resource has moved. |
    | 405 | Method Not Allowed — HTTP method not supported for the resource. |
    | 406 | Not Acceptable — requested response type unsupported. |
    | 409 | Conflict — conflicts with another request. |
    | 415 | Unsupported Media Type — missing `application/json` content type on POST/PUT/PATCH. |
    | 422 | Unprocessable Entity — validation error creating/modifying a resource. |
    | 429 | Too Many Requests — too many requests within a time frame. |
    | 500 | Server Error — something went wrong on Engagedly's end. |

    ## Errors

    Errors return a body with an `error_type` and an `errors` array.

    **Error types**

    | Type | Description |
    | ---- | ----------- |
    | `api_connection_error` | Could not connect to the Engagedly API. |
    | `authentication_error` | Could not authenticate. |
    | `invalid_request_error` | The request had invalid parameters. |
    | `validation_error` | Field validation failed. |

    **Error codes** (in `errors[].code`)

    | Code | Description |
    | ---- | ----------- |
    | `missing_field` | A mandatory attribute is missing from the request. |
    | `duplicate_value` | The submitted value already exists. |

servers:
  - url: https://api.engagedly.com
    description: Production

security:
  - ClientKey: []
    SecretKey: []

tags:
  - name: User Attributes
    description: |
      User attributes capture standard (**system**) and organization-defined (**custom**) fields.
      System attributes are built-in (`preset: true`); custom attributes are org-defined
      (`preset: false`) and referenced by keys like `custom-attribute-93cbf`.

      **Important notes**
      - **Mandatory** attributes (`mandatory: true`) must be provided on user create/update.
      - **Select fields:** use the `value` from the attribute's `attribute_options` array.
      - **Boolean fields:** only `true`/`false` are accepted.
      - **Dates** accept `MMM DD, YYYY` (e.g. `Jan 02, 2022`) or `YYYY-MM-DD` (e.g. `2024-01-15`).

      **Data types** (`data_type`)

      | Type | Example values | Use cases |
      | ---- | -------------- | --------- |
      | `text` | "Engineering" | Names, descriptions, free text |
      | `number` | 5, 8.5 | Grades, ratings, quantities |
      | `date` | "2024-01-15" | Hire/birth dates, deadlines |
      | `boolean` | true, false | Yes/no flags |
      | `single-select` | "Meets Expectations" | Single choice from options |
      | `multiple-select` | ["JavaScript","Python"] | Multiple choices from options |
  - name: Users
    description: |
      Manage users, their profile fields, status, and permissions.

      **Custom attributes:** beyond the system fields, you can set organization-defined custom
      attributes on create/update. Use each attribute's `attribute_key` as the field name
      (discover them via `GET /beta/user-attributes`). System and custom attributes can be mixed
      in one request — either nested under `custom_attributes` or as individual
      `custom-attribute-*` fields. Example:

      ```json
      {
        "first_name": "Jane",
        "last_name": "Smith",
        "email": "jane.smith@company.com",
        "departments": ["dept-123"],
        "custom-attribute-93cbf": "Product Management",
        "custom-attribute-d3b49": 9
      }
      ```
  - name: Departments
  - name: Businesses
  - name: Locations
  - name: Job Titles
  - name: Permissions
  - name: Activities
  - name: Learning
    description: |
      Courses, playlists, their content hierarchy, and learner reporting. These
      endpoints are served at `https://api.engagedly.com/beta/learning/` and are
      **read-only**. Two identifiers are the stable join keys for mapping to your
      own data: `short_code` (human-readable course code) and `learning_resource_id`
      (internal course ID; returned as `id` on the resource itself). In learner
      reports, `learner.id` is the user's unique Engagedly ID, stable across
      Engagedly services.

paths:
  /beta/user-attributes:
    get:
      tags: [User Attributes]
      summary: List all user attributes
      description: Returns all user attributes (system + custom), including field configuration, validation rules, and options.
      responses:
        '200':
          description: The list of user attributes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/UserAttribute' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/users:
    get:
      tags: [Users]
      summary: List all users
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - name: include
          in: query
          description: "Comma-separated related data to embed. Allowed: `primary_reporter`, `direct_reports`."
          schema: { type: string, example: "primary_reporter,direct_reports" }
        - name: email
          in: query
          description: Filter by an email address.
          schema: { type: string }
      responses:
        '200':
          description: A paginated list of users.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/User' }
              example:
                success: true
                pagination: { page: 1, size: 25, has_more: false, total_records: 1 }
                data:
                  - id: b62167d0-2718-4e45-9721-27535991becf
                    name: Adam Smith
                    first_name: Adam
                    middle_name: null
                    last_name: Smith
                    email: adam.smith@teamyogi.com
                    status: Active
                    title: null
                    nickname: ""
                    marital_status: ""
                    last_active_date: null
                    employee_id: E007
                    block_reason_code: null
                    user_blocked_at: null
                    display_picture:
                      medium: https://social.engagedly.com/uploads/picture/file/9634/reduced_Adam.jpg
                      small: https://social.engagedly.com/uploads/picture/file/9634/small_Adam.jpg
                    job_title: { id: 11503, name: Manager }
                    location: { id: "3927", name: Bengaluru }
                    departments:
                      - { id: 61537d90-05f6-11ef-8fcc-fdfaf2ffaa91, name: Customer Support, is_admin: false }
                    business_unit:
                      - { id: 8e7345e0-b1f0-11ed-9b4b-8b54e79c50ef, name: Manufacturing Unit, is_admin: false }
                    employee_type: { id: 2033, name: Non-Exempt }
                    gender: null
                    birthdate: null
                    joining_date: "2024-01-15"
                    phone_number: null
                    linkedin: null
                    twitter: null
                    differently_abled: null
                    veteran_status: null
                    ethnicity: null
                    employee_level: null
                    level: null
                    is_cxo: false
                    custom_attributes:
                      custom-attribute-93cbf: { name: Department, value: Product Management }
                      custom-attribute-5d2c8:
                        name: Languages
                        value: [English, Kannada]
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [Users]
      summary: Create a new user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserWriteRequest' }
      responses:
        '201':
          description: The created user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/users/block-reason-codes:
    get:
      tags: [Users]
      summary: Get block reason codes
      description: >
        Codes accepted by the deactivate endpoint's `block_reason_code`. Codes are
        organisation-configurable. Note: unlike most endpoints, the envelope is
        `{ "status": 200, "data": [...] }` (no `success` flag).
      responses:
        '200':
          description: The available block reason codes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/BlockReasonCode' }
              example:
                status: 200
                data:
                  - code: involuntary
                    display_text: Involuntary
                    description: "Initiated by the business. Example, RIF (Reduction in Force)"
                    source: system
                    archived: false
                    created_by: null
                    updated_at: "2024-01-15T10:00:00.000Z"
                    blocked_users_count: 2
                  - code: voluntary
                    display_text: Voluntary
                    description: Initiated by the individual.
                    source: system
                    archived: false
                    created_by: null
                    updated_at: "2024-01-15T10:00:00.000Z"
                    blocked_users_count: 0
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/users/{id}:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      tags: [Users]
      summary: Get a single user
      parameters:
        - name: include
          in: query
          description: "Comma-separated related data to embed. Allowed: `primary_reporter`, `direct_reports`, `hr_managers`, `secondary_managers`."
          schema: { type: string, example: "primary_reporter,direct_reports,hr_managers,secondary_managers" }
      responses:
        '200':
          description: The requested user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
              example:
                success: true
                data:
                  id: b62167d0-2718-4e45-9721-27535991becf
                  name: Adam Smith
                  first_name: Adam
                  middle_name: null
                  last_name: Smith
                  email: adam.smith@teamyogi.com
                  status: Active
                  title: null
                  nickname: ""
                  marital_status: ""
                  last_active_date: null
                  employee_id: E007
                  block_reason_code: null
                  user_blocked_at: null
                  display_picture:
                    medium: https://social.engagedly.com/uploads/picture/file/9634/reduced_Adam.jpg
                    small: https://social.engagedly.com/uploads/picture/file/9634/small_Adam.jpg
                  job_title: { id: 11503, name: Manager }
                  location: { id: "3927", name: Bengaluru }
                  departments: []
                  business_unit: []
                  hr_managers: []
                  secondary_managers: []
                  employee_type: { id: 2033, name: Non-Exempt }
                  gender: null
                  birthdate: null
                  phone_number: null
                  linkedin: ""
                  twitter: ""
                  differently_abled: null
                  veteran_status: null
                  ethnicity: null
                  employee_level: null
                  level: null
                  is_cxo: false
                  joining_date: null
                  primary_reporter:
                    id: a1b2c3d4-2718-4e45-9721-27535991becf
                    name: Jane Doe
                    email: jane.doe@teamyogi.com
                    status: Active
                  direct_reports: []
                  education: "B.Tech, MS"
                  about_me: null
                  secondary_phone_number: ""
                  joining_date_string: null
                  birthdate_as_date: null
                  work_anniversary_in: 245
                  promotion_date: null
                  review_date: null
                  is_admin: null
                  custom_attributes:
                    custom-attribute-93cbf: { name: Department, value: Product Management }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      tags: [Users]
      summary: Update an existing user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserWriteRequest' }
      responses:
        '200':
          description: The updated user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    patch:
      tags: [Users]
      summary: Partially update an existing user
      description: Any combination of the writable user fields may be sent.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserWriteRequest' }
      responses:
        '200':
          description: The updated user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/users/{id}/profile/picture:
    put:
      tags: [Users]
      summary: Update a user's profile picture
      parameters:
        - $ref: '#/components/parameters/userId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_picture:
                  type: array
                  items: { type: integer }
                  description: Bytes of the picture.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/users/{id}/deactivate:
    put:
      tags: [Users]
      summary: Deactivate a user
      parameters:
        - $ref: '#/components/parameters/userId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                block_reason_code:
                  type: string
                  description: Optional block reason code (see Get block reason codes).
                  example: involuntary
      responses:
        '200':
          description: The deactivated user (status `Blocked`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/users/{id}/activate:
    put:
      tags: [Users]
      summary: Activate a user
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: The activated user (status `Active`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/users/{id}/permissions:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      tags: [Users]
      summary: Get a user's permissions
      responses:
        '200':
          description: The user's permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Permission' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      tags: [Users]
      summary: Update a user's permissions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permission_ids:
                  type: array
                  items: { type: integer }
                  description: Array of permission IDs.
      responses:
        '200':
          description: The updated permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Permission' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/departments:
    get:
      tags: [Departments]
      summary: List all departments
      parameters: [ { $ref: '#/components/parameters/page' }, { $ref: '#/components/parameters/size' } ]
      responses:
        '200':
          description: A paginated list of departments.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '#/components/schemas/OrgUnitSummary' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [Departments]
      summary: Create a new department
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitWriteRequest' } } }
      responses:
        '201':
          description: The created department.
          content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /beta/departments/{id}:
    parameters: [ { $ref: '#/components/parameters/resourceId' } ]
    get:
      tags: [Departments]
      summary: Get a single department
      responses:
        '200':
          description: The requested department.
          content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      tags: [Departments]
      summary: Update an existing department
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitWriteRequest' } } }
      responses:
        '200':
          description: The updated department.
          content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      tags: [Departments]
      summary: Delete a department
      responses:
        '204': { description: Deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/businesses:
    get:
      tags: [Businesses]
      summary: List all businesses
      parameters: [ { $ref: '#/components/parameters/page' }, { $ref: '#/components/parameters/size' } ]
      responses:
        '200':
          description: A paginated list of businesses.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '#/components/schemas/OrgUnitSummary' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [Businesses]
      summary: Create a new business
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitWriteRequest' } } }
      responses:
        '201':
          description: The created business.
          content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /beta/businesses/{id}:
    parameters: [ { $ref: '#/components/parameters/resourceId' } ]
    get:
      tags: [Businesses]
      summary: Get a single business
      responses:
        '200':
          description: The requested business.
          content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      tags: [Businesses]
      summary: Update an existing business
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitWriteRequest' } } }
      responses:
        '200':
          description: The updated business.
          content: { application/json: { schema: { $ref: '#/components/schemas/OrgUnitEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      tags: [Businesses]
      summary: Delete a business
      responses:
        '204': { description: Deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/locations:
    get:
      tags: [Locations]
      summary: List all locations
      parameters: [ { $ref: '#/components/parameters/page' }, { $ref: '#/components/parameters/size' } ]
      responses:
        '200':
          description: A paginated list of locations.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '#/components/schemas/Location' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [Locations]
      summary: Create a new location
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/LocationWriteRequest' } } }
      responses:
        '201':
          description: The created location.
          content: { application/json: { schema: { $ref: '#/components/schemas/LocationEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /beta/locations/{id}:
    parameters: [ { $ref: '#/components/parameters/resourceId' } ]
    get:
      tags: [Locations]
      summary: Get a single location
      responses:
        '200':
          description: The requested location.
          content: { application/json: { schema: { $ref: '#/components/schemas/LocationEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      tags: [Locations]
      summary: Update an existing location
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/LocationWriteRequest' } } }
      responses:
        '200':
          description: The updated location.
          content: { application/json: { schema: { $ref: '#/components/schemas/LocationEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      tags: [Locations]
      summary: Delete a location
      responses:
        '204': { description: Deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/job_titles:
    get:
      tags: [Job Titles]
      summary: List all job titles
      parameters: [ { $ref: '#/components/parameters/page' }, { $ref: '#/components/parameters/size' } ]
      responses:
        '200':
          description: A paginated list of job titles.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '#/components/schemas/JobTitle' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [Job Titles]
      summary: Create a new job title
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/JobTitleWriteRequest' } } }
      responses:
        '201':
          description: The created job title.
          content: { application/json: { schema: { $ref: '#/components/schemas/JobTitleEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /beta/job_titles/{id}:
    parameters: [ { $ref: '#/components/parameters/resourceId' } ]
    get:
      tags: [Job Titles]
      summary: Get a single job title
      responses:
        '200':
          description: The requested job title.
          content: { application/json: { schema: { $ref: '#/components/schemas/JobTitleEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      tags: [Job Titles]
      summary: Update an existing job title
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/JobTitleWriteRequest' } } }
      responses:
        '200':
          description: The updated job title.
          content: { application/json: { schema: { $ref: '#/components/schemas/JobTitleEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      tags: [Job Titles]
      summary: Delete a job title
      responses:
        '204': { description: Deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/permissions:
    get:
      tags: [Permissions]
      summary: List all permissions
      parameters: [ { $ref: '#/components/parameters/page' }, { $ref: '#/components/parameters/size' } ]
      responses:
        '200':
          description: A paginated list of permissions.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '#/components/schemas/Permission' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/activities/praises:
    get:
      tags: [Activities]
      summary: Get all public praises
      parameters: [ { $ref: '#/components/parameters/page' }, { $ref: '#/components/parameters/size' } ]
      responses:
        '200':
          description: A paginated list of praises.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '#/components/schemas/Praise' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/learning/resources:
    get:
      tags: [Learning]
      summary: List Resources
      description: >
        Returns a paginated list of the organisation's learning resources
        (courses and playlists). All parameters are optional; with none supplied
        the full organisation list is returned, newest activity first. Read-only.
      parameters:
        - { name: search_text, in: query, required: false, description: "Case-insensitive match on the resource title.", schema: { type: string } }
        - { name: types, in: query, required: false, description: "Resource type(s). e.g. `types[]=Course`.", schema: { type: array, items: { type: string, enum: [Course, Playlist, Section] } } }
        - { name: resource_ids, in: query, required: false, description: "Restrict to specific resource IDs.", schema: { type: array, items: { type: integer } } }
        - { name: state, in: query, required: false, description: "Publication state(s).", schema: { type: array, items: { type: string, enum: [unpublished, published, unpublished_edit] } } }
        - { name: languages, in: query, required: false, description: "Language code(s), e.g. `languages[]=en`.", schema: { type: array, items: { type: string } } }
        - { name: providers, in: query, required: false, description: "Content provider(s): `engagedly`, `udemy`, `go1`, `linkedin-learning`, `opensesame`, `bizz-library`, `thinkific-academy`, `learning-planet`.", schema: { type: array, items: { type: string } } }
        - { name: authors, in: query, required: false, description: "Restrict to resources by the given author user ID(s).", schema: { type: array, items: { type: string } } }
        - { name: levels, in: query, required: false, description: "Difficulty level(s): `Beginner`, `Intermediate`, `Advanced`.", schema: { type: array, items: { type: string, enum: [Beginner, Intermediate, Advanced] } } }
        - { name: tags, in: query, required: false, description: "Restrict to the given tag(s).", schema: { type: array, items: { type: string } } }
        - { name: "durations[min_limit]", in: query, required: false, description: "Minimum duration in minutes.", schema: { type: integer } }
        - { name: "durations[max_limit]", in: query, required: false, description: "Maximum duration in minutes.", schema: { type: integer } }
        - { name: certified, in: query, required: false, description: "Only resources that grant a certificate.", schema: { type: boolean } }
        - { name: ratings, in: query, required: false, description: "Minimum average rating (1–5).", schema: { type: number } }
        - { name: in_library, in: query, required: false, description: "Only resources in the content library.", schema: { type: boolean } }
        - { name: short_code, in: query, required: false, description: "Return the resource with this exact short code.", schema: { type: string } }
        - { name: archived, in: query, required: false, description: "Only archived (`true`) or active (`false`, default) resources.", schema: { type: boolean } }
        - { name: sort, in: query, required: false, description: "Sort order (e.g. `title`, `created_at`).", schema: { type: string } }
        - { name: competency_search_text, in: query, required: false, description: "Case-insensitive match on the resource's competency names.", schema: { type: string } }
        - $ref: '#/components/parameters/page'
        - { name: size, in: query, description: "Items per page (max 50).", schema: { type: integer, default: 15, maximum: 50 } }
      responses:
        '200':
          description: A paginated list of learning resources.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '#/components/schemas/LearningResource' } }
              example:
                success: true
                pagination: { page: 1, size: 15, has_more: false, total_records: 1 }
                data:
                  - id: 16504
                    title: Workplace Safety Fundamentals
                    description: null
                    provider: engagedly
                    archived: false
                    language: en
                    duration: "01:00:00"
                    short_code: WSF-101
                    level: Beginner
                    type: Course
                    state: Published
                    in_library: true
                    published_on: "Jul 07, 2026"
                    average_rating: null
                    tags: [compliance, safety]
                    competencies: []
                    created_at: "Jun 01, 2026"
                    updated_at: "Jul 07, 2026"
                    cover_image: null
                    categories:
                      - { id: 5, title: Compliance }
                    author:
                      id: c3d4e5f6-2718-4e45-9721-27535991becf
                      name: Course Author
                      email: author@teamyogi.com
                      status: Not Blocked
                      manager: { id: a1b2c3d4-2718-4e45-9721-27535991becf, name: Jane Doe }
                    co_authors: []
                    settings: {}
                    attributes: {}
                    content_details: null
                    skills: []
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/learning/resources/{id}/contents:
    get:
      tags: [Learning]
      summary: Get Resource Contents
      description: >
        Returns the ordered content hierarchy of a single course or playlist. A
        course is organised into sections, each containing units; a playlist nests
        child resources under `contents`. Only published content is returned (the
        learner view). Read-only.
      parameters:
        - { name: id, in: path, required: true, description: "The `learning_resource_id` of the course/playlist.", schema: { type: integer } }
      responses:
        '200':
          description: The content hierarchy (list of sections).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data: { type: array, items: { $ref: '#/components/schemas/ResourceSection' } }
              example:
                success: true
                data:
                  - id: 4567
                    title: Getting Started
                    description: Introduction to the course.
                    type: Section
                    status: Published
                    ongoing_edit: false
                    position: 1
                    content_status: Published
                    units:
                      - id: 8901
                        title: Course Overview
                        description: ""
                        type: LTI
                        position: 1
                        duration: 90
                        unit_details:
                          id: 37
                          title: Course Overview
                          description: ""
                          link_url: https://lti-provider.example.com/content/129232219069
                        status: Active
                        content_status: Active
                        ongoing_edit: null
                        mark_for_deletion: false
                        has_impact: false
                        completion_watch_threshold_pct: null
                        completion_time_threshold_pct: null
                        completion_require_scroll: false
                        created_at: "2026-06-01T10:00:00.000Z"
                        updated_at: "2026-07-07T10:00:00.000Z"
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /beta/learning/learner_reports:
    get:
      tags: [Learning]
      summary: Learner Report
      description: >
        Returns learner data with course information. Each row is one learner's
        enrolment in one course. Read-only.
      parameters:
        - { name: resource_types, in: query, required: false, description: "Resource type(s) to report on. Both returned when omitted. e.g. `resource_types[]=Course`.", schema: { type: array, items: { type: string, enum: [Course, Playlist] } } }
        - { name: learning_resource_id, in: query, required: false, description: "Restrict the report to a single course by internal ID.", schema: { type: integer } }
        - { name: learning_resource_ids, in: query, required: false, description: "Restrict the report to specific courses by internal ID.", schema: { type: array, items: { type: integer } } }
        - { name: page, in: query, required: true, description: "Page number, starting at 1. Required — omitting pagination causes a server error.", schema: { type: integer } }
        - { name: size, in: query, required: true, description: "Items per page (max 50). Required — omitting pagination causes a server error.", schema: { type: integer, maximum: 50 } }
      responses:
        '200':
          description: >
            Learner enrolment records. The response has a `data` array and a
            `pagination` object. Note: unlike the other list endpoints, this
            response has no `success` flag.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination: { $ref: '#/components/schemas/Pagination' }
                  data: { type: array, items: { $ref: '#/components/schemas/LearnerRecord' } }
              example:
                pagination: { page: 1, size: 25, has_more: false, total_records: 1 }
                data:
                  - id: 90210
                    learning_resource_id: 16504
                    learning_resource_title: Workplace Safety Fundamentals
                    type: Course
                    short_code: WSF-101
                    completion_status: Completed
                    points: 100
                    completed_on: "Jul 07, 2026"
                    certified: true
                    mandatory: true
                    progress: 100
                    provider: engagedly
                    archive: false
                    categories:
                      - { id: 5, title: Compliance }
                    learner:
                      id: b62167d0-2718-4e45-9721-27535991becf
                      name: Adam Smith
                      email: adam.smith@teamyogi.com
                      status: Active
                      employee_id: E007
                      job_title: Manager
                      business_units: [Manufacturing Unit]
                      departments: [Customer Support]
                      location: Bengaluru
                      employee_type: null
                      joining_date: null
                      birth_date: "1990-04-12"
                      gender: null
                      ethnicity: null
                      differently_abled: false
                      veteran_status: false
                      age: 36
                      display_picture: {}
                    assigner:
                      id: a1b2c3d4-2718-4e45-9721-27535991becf
                      name: Jane Doe
                      email: jane.doe@teamyogi.com
                    manager: { id: a1b2c3d4-2718-4e45-9721-27535991becf, name: Jane Doe }
                    hr_managers: []
                    secondary_managers: []
                    author:
                      id: c3d4e5f6-2718-4e45-9721-27535991becf
                      name: Course Author
                    assigned_on: "Jun 01, 2026"
                    overall_time_taken: 3600
                    due_date: null
                    delay_in_days: null
                    language: en
                    learning_resource_duration: 3600
                    compliance_status: null
                    valid_till: null
                    is_self_assigned: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

components:
  securitySchemes:
    ClientKey: { type: apiKey, in: header, name: ClientKey }
    SecretKey: { type: apiKey, in: header, name: SecretKey }

  parameters:
    page:
      name: page
      in: query
      description: Page number (pagination), starting at 1. Values below 1 are rejected with `400 Bad Request`.
      schema: { type: integer, default: 1, minimum: 1 }
    size:
      name: size
      in: query
      description: Items per page (pagination), max 50. Values above 50 (or negative) are rejected with `400 Bad Request`.
      schema: { type: integer, default: 25, minimum: 1, maximum: 50 }
    userId:
      name: id
      in: path
      required: true
      description: The ID of the user.
      schema: { type: string, format: uuid }
    resourceId:
      name: id
      in: path
      required: true
      description: The ID of the resource.
      schema: { type: string }

  responses:
    Unauthorized:
      description: Authentication failed — missing or invalid `ClientKey`/`SecretKey`.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationError:
      description: The request failed validation (missing or invalid fields).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: >
        Rate limit exceeded. Each ClientKey may make up to 200 requests/minute, shared
        across all `/beta` endpoints; exceeding it triggers an escalating cooldown
        (starting at 1 minute). See the Rate Limiting section.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema: { type: integer }
        X-RateLimit-Limit:
          description: Maximum requests allowed in the current window.
          schema: { type: integer }
        X-RateLimit-Remaining:
          description: Requests remaining in the current window.
          schema: { type: integer }
        X-RateLimit-Reset:
          description: Epoch seconds when the window resets.
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/RateLimitError' }

  schemas:
    Pagination:
      type: object
      properties:
        page: { type: integer, example: 1 }
        size: { type: integer, example: 25 }
        has_more: { type: boolean, example: false }
        total_records: { type: integer, example: 1 }
    PaginatedEnvelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        pagination: { $ref: '#/components/schemas/Pagination' }
    Error:
      type: object
      properties:
        error_type: { type: string, example: validation_error }
        errors:
          type: array
          items:
            type: object
            properties:
              field: { type: string, example: name }
              message: { type: string, example: Mandatory attribute missing }
              code: { type: string, example: missing_field }
    RateLimitError:
      type: object
      properties:
        error_type: { type: string, example: rate_limit_exceeded }
        message: { type: string, example: "Rate limit exceeded. Please retry later." }
    DisplayPicture:
      type: object
      properties:
        small: { type: string, format: uri, nullable: true }
        medium: { type: string, format: uri, nullable: true }
        large: { type: string, format: uri, nullable: true }
    NamedRef:
      type: object
      properties:
        id:
          oneOf: [ { type: string }, { type: integer } ]
          description: String or integer depending on the reference type.
          example: "261"
        name: { type: string, example: CEO }
    OrgMembership:
      type: object
      properties:
        id: { type: string, example: f5afec62-21ff-40d3-a06e-9a2162ef6b69 }
        name: { type: string, example: Customer Support }
        is_admin: { type: boolean }

    UserAttribute:
      type: object
      properties:
        name: { type: string, example: Title }
        attribute_key: { type: string, example: custom-attribute-93cbf }
        preset: { type: boolean, description: "true for system, false for custom attributes." }
        mandatory: { type: boolean }
        data_type:
          type: string
          enum: [text, number, date, boolean, single-select, multiple-select, document]
        attribute_options:
          type: array
          nullable: true
          items:
            type: object
            properties:
              id: { type: integer, example: 313 }
              value: { type: string, example: "Mr." }

    User:
      type: object
      properties:
        id: { type: string, format: uuid, example: b62167d0-2718-4e45-9721-27535991becf }
        name: { type: string, example: Adam Smith }
        status: { type: string, example: Active }
        email: { type: string, format: email, example: adam.smith@teamyogi.com }
        first_name: { type: string, example: Adam }
        middle_name: { type: string, nullable: true }
        last_name: { type: string, example: Smith }
        title: { type: string, nullable: true, description: "Title of the user (e.g. `Mr.`), or null." }
        nickname: { type: string, nullable: true }
        marital_status: { type: string, nullable: true }
        employee_id: { type: string, example: E007 }
        employee_type:
          description: "Employee type as `{ id, name }` (e.g. `Non-Exempt`), or null."
          allOf: [ { $ref: '#/components/schemas/NamedRef' } ]
        gender: { type: string, nullable: true }
        birthdate: { type: string, nullable: true, description: Date of birth of the user. }
        joining_date: { type: string, nullable: true }
        last_active_date: { type: string, nullable: true }
        block_reason_code: { type: string, nullable: true, description: "Reason code recorded when the user was deactivated, or null." }
        user_blocked_at: { type: string, nullable: true, description: "When the user was deactivated, or null." }
        phone_number: { type: string, nullable: true }
        linkedin: { type: string, nullable: true }
        twitter: { type: string, nullable: true }
        differently_abled: { type: boolean, nullable: true }
        veteran_status: { type: boolean, nullable: true }
        ethnicity: { type: string, nullable: true }
        employee_level: { type: string, nullable: true }
        level: { type: string, nullable: true, description: Level of the employee. }
        is_cxo: { type: boolean }
        display_picture:
          description: "Profile picture URLs, or null."
          allOf: [ { $ref: '#/components/schemas/DisplayPicture' } ]
        job_title:
          description: "The user's job title as `{ id, name }`, or null."
          allOf: [ { $ref: '#/components/schemas/NamedRef' } ]
        location:
          description: "The user's location as `{ id, name }`, or null."
          allOf: [ { $ref: '#/components/schemas/NamedRef' } ]
        business_unit:
          type: array
          description: Business units the user belongs to.
          items: { $ref: '#/components/schemas/OrgMembership' }
        education: { type: string, nullable: true, description: "Single-user endpoint only." }
        about_me: { type: string, nullable: true, description: "Single-user endpoint only." }
        secondary_phone_number: { type: string, nullable: true, description: "Single-user endpoint only." }
        promotion_date: { type: string, nullable: true, description: "Impending promotion date of the employee. Single-user endpoint only." }
        review_date: { type: string, nullable: true, description: "Impending review date of the employee. Single-user endpoint only." }
        joining_date_string: { type: string, nullable: true, description: "Formatted variant of `joining_date`. Single-user endpoint only." }
        birthdate_as_date: { type: string, nullable: true, description: "Date-typed variant of `birthdate`. Single-user endpoint only." }
        work_anniversary_in: { type: integer, description: "Days until the user's next work anniversary. Single-user endpoint only." }
        is_admin: { type: boolean, nullable: true, description: "Whether the user is a site administrator, or null. Single-user endpoint only." }
        primary_reporter:
          description: "The user's manager, or null. Embedded when `include=primary_reporter` is requested."
          allOf: [ { $ref: '#/components/schemas/User' } ]
        direct_reports:
          type: array
          description: "Users reporting to this user. Embedded when `include=direct_reports` is requested."
          items: { $ref: '#/components/schemas/User' }
        hr_managers:
          type: array
          description: "The user's HR managers. Embedded when `include=hr_managers` is requested (single-user endpoint only)."
          items: { $ref: '#/components/schemas/User' }
        secondary_managers:
          type: array
          description: "The user's secondary managers. Embedded when `include=secondary_managers` is requested (single-user endpoint only)."
          items: { $ref: '#/components/schemas/User' }
        departments:
          type: array
          items: { $ref: '#/components/schemas/OrgMembership' }
        custom_attributes:
          type: object
          additionalProperties:
            type: object
            properties:
              name: { type: string }
              value:
                oneOf:
                  - { type: string }
                  - { type: array, items: { type: string } }
          description: Custom fields keyed by their `attribute_key`.
    UserEnvelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        data: { $ref: '#/components/schemas/User' }
    UserWriteRequest:
      type: object
      required: [first_name, last_name, email]
      properties:
        first_name: { type: string, example: John }
        middle_name: { type: string }
        last_name: { type: string, example: Doe }
        email: { type: string, format: email, example: john.doe@company.com }
        employee_id: { type: string, example: EMP001 }
        employee_type: { type: string, description: Type to which the employee belongs. }
        promotion_date: { type: string }
        review_date: { type: string }
        level: { type: string }
        phone_number: { type: string }
        secondary_phone_number: { type: string }
        joining_date: { type: string, format: date }
        birth_date: { type: string, format: date }
        location: { type: string, description: ID of the location. }
        job_title: { type: string, description: ID of the job title. }
        departments: { type: array, items: { type: string }, example: ["dept-123"] }
        businesses: { type: array, items: { type: string }, example: ["biz-456"] }
        hr_managers: { type: array, items: { type: string }, example: ["manager-789"] }
        secondary_managers: { type: array, items: { type: string } }
        manager_id: { type: string }
        custom_attributes:
          type: object
          description: Custom attributes keyed by their `attribute_key` (use GET /beta/user-attributes to discover them).
      additionalProperties:
        description: Custom attributes may alternatively be sent as individual `custom-attribute-*` fields.

    Member:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: Adam Smith }
        email: { type: string, format: email }
        first_name: { type: string }
        middle_name: { type: string, nullable: true }
        last_name: { type: string }
        display_picture: { $ref: '#/components/schemas/DisplayPicture' }
        is_admin: { type: boolean }
    OrgUnitSummary:
      description: A department or business unit (list representation — members are not included).
      type: object
      properties:
        id: { type: string, format: uuid, example: f5afec62-21ff-40d3-a06e-9a2162ef6b69 }
        name: { type: string, example: Customer Support }
        members_count: { type: integer, example: 10 }
        administrators_count: { type: integer, example: 2 }
    OrgUnit:
      description: A department or business unit.
      allOf:
        - $ref: '#/components/schemas/OrgUnitSummary'
        - type: object
          properties:
            members:
              type: array
              items: { $ref: '#/components/schemas/Member' }
    OrgUnitEnvelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        data: { $ref: '#/components/schemas/OrgUnit' }
    OrgUnitWriteRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, example: Customer Support }
        members:
          type: array
          items: { type: string }
          description: Array of user IDs.

    Location:
      type: object
      properties:
        id: { type: integer, example: 3927 }
        name: { type: string, example: Head Office }
        address_line1: { type: string }
        address_line2: { type: string, nullable: true }
        city: { type: string }
        state: { type: string }
        country: { type: string }
        postal_code: { type: string }
    LocationEnvelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        data: { $ref: '#/components/schemas/Location' }
    LocationWriteRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, example: Head Office }
        address_line1: { type: string }
        address_line2: { type: string }
        city: { type: string }
        state: { type: string }
        country: { type: string }
        postal_code: { type: string }

    JobTitle:
      type: object
      properties:
        id: { type: integer, example: 11424 }
        name: { type: string, example: Software Engineer }
        description: { type: string, nullable: true }
        responsibilities: { type: string, nullable: true }
    JobTitleEnvelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        data: { $ref: '#/components/schemas/JobTitle' }
    JobTitleWriteRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, example: Software Engineer }
        description: { type: string }
        responsibilities: { type: string }

    Permission:
      type: object
      properties:
        id: { type: integer, example: 1 }
        name: { type: string, example: Site Administrator }
        is_admin: { type: boolean, nullable: true }
        description: { type: string, nullable: true }
        is_editable: { type: boolean, description: Whether the permission can be edited. }
        default: { type: boolean, description: Whether the permission is granted by default. }

    BlockReasonCode:
      type: object
      properties:
        code:
          type: string
          description: "Codes are organisation-configurable; system codes include `involuntary`, `voluntary`, `dismissal_with_cause`, `retirement`, `temporary_leave`, `not_known`."
          example: involuntary
        display_text: { type: string, example: Involuntary }
        description: { type: string }
        source: { type: string, description: "`system` for built-in codes, otherwise org-defined.", example: system }
        archived: { type: boolean }
        created_by: { type: string, nullable: true }
        updated_at: { type: string }
        blocked_users_count: { type: integer, description: Number of users currently deactivated with this code. }

    Actor:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        designation: { type: string }
        display_picture:
          type: object
          properties:
            large: { type: string, nullable: true }
            original: { type: string, nullable: true }
            reduced: { type: string, nullable: true }
    Praise:
      type: object
      properties:
        id: { type: integer, example: 107781 }
        activity_type: { type: string, example: Praise }
        activity_date: { type: string, format: date-time }
        last_updated_at: { type: string, format: date-time }
        title: { type: string, nullable: true }
        content: { type: string }
        pinned: { type: boolean }
        author: { $ref: '#/components/schemas/Actor' }
        tags:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              label: { type: string }
        audience:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              name: { type: string }
              type: { type: string, example: Group }
              display_picture: { type: object }
        links: { type: array, items: {} }
        attachments: { type: array, items: {} }
        comment_details:
          type: object
          properties: { count: { type: integer } }
        like_details:
          type: object
          properties:
            count: { type: integer }
            is_liked: { type: boolean }
        can_edit: { type: boolean }
        can_delete: { type: boolean }
        recognized_actors:
          type: array
          items: { $ref: '#/components/schemas/Actor' }

    LearnerRef:
      type: object
      description: >
        The learner. Alongside the fixed fields below, the object carries the
        learner's demographic fields and the organisation's custom attributes as
        additional keys.
      properties:
        id: { type: string, format: uuid, description: "The user's unique Engagedly ID (stable across Engagedly services)." }
        name: { type: string }
        email: { type: string, format: email }
        status: { type: string }
        employee_id: { type: string }
        job_title: { type: string, nullable: true, description: Job title name. }
        business_units: { type: array, items: { type: string }, description: Business unit names. }
        departments: { type: array, items: { type: string }, description: Department names. }
        location: { type: string, nullable: true, description: Location name. }
        employee_type: { type: string, nullable: true }
        joining_date: { type: string, nullable: true }
        birth_date: { type: string, nullable: true }
        gender: { type: string, nullable: true }
        ethnicity: { type: string, nullable: true }
        differently_abled: { type: boolean, nullable: true }
        veteran_status: { type: boolean, nullable: true }
        age: { type: integer, nullable: true }
        display_picture: { type: object }
      additionalProperties: true
    LearnerRecord:
      type: object
      properties:
        id: { type: integer, description: Unique ID of this learner enrolment record. }
        learning_resource_id: { type: integer, description: Internal unique ID of the course. }
        learning_resource_title: { type: string }
        type: { type: string, enum: [Course, Playlist, Section] }
        short_code: { type: string, description: Unique code of the course. }
        completion_status:
          type: string
          enum: [Not Started, In Progress, Completed, Failed, Evaluation Pending]
        points: { type: integer }
        completed_on: { type: string, nullable: true }
        certified: { type: boolean }
        mandatory: { type: boolean }
        progress: { type: integer, description: Completion percentage. }
        provider: { type: string, example: engagedly }
        archive: { type: boolean }
        categories:
          type: array
          items:
            type: object
            properties: { id: { type: integer }, title: { type: string } }
        learner: { $ref: '#/components/schemas/LearnerRef' }
        assigner: { type: object, nullable: true }
        manager: { type: object, nullable: true }
        hr_managers: { type: array, items: { type: object } }
        secondary_managers: { type: array, items: { type: object } }
        author: { type: object, nullable: true }
        assigned_on: { type: string }
        overall_time_taken: { type: number, description: "Total time spent, in seconds." }
        due_date: { type: string, nullable: true }
        delay_in_days: { type: integer, nullable: true }
        language: { type: string }
        learning_resource_duration: { type: number, description: "Estimated course duration, in seconds." }
        compliance_status: { type: string, nullable: true }
        valid_till: { type: string, nullable: true }
        is_self_assigned: { type: boolean }
    LearningResource:
      type: object
      properties:
        id: { type: integer, description: "Internal unique ID of the resource (the learning_resource_id)." }
        title: { type: string }
        description: { type: string, nullable: true }
        provider: { type: string, example: engagedly }
        archived: { type: boolean }
        language: { type: string }
        duration: { type: string, description: "Estimated duration, formatted HH:MM:SS.", example: "01:00:00" }
        short_code: { type: string, description: "Unique code of the resource." }
        level: { type: string }
        type: { type: string, enum: [Course, Playlist, Section] }
        state: { type: string, enum: [Published, Unpublished, UnpublishedEdit] }
        in_library: { type: boolean }
        published_on: { type: string, nullable: true }
        average_rating: { type: number, nullable: true }
        tags: { type: array, items: { type: string } }
        competencies: { type: array, items: { type: object } }
        categories:
          type: array
          items:
            type: object
            properties: { id: { type: integer }, title: { type: string } }
        author: { type: object, nullable: true }
        co_authors: { type: array, items: { type: object } }
        skills: { type: array, items: { type: object } }
        cover_image: { type: string, format: uri, nullable: true, description: "URL of the resource's cover image, or null." }
        settings: { type: object, description: "Resource settings as key–value pairs." }
        attributes: { type: object, description: "Resource attributes as key–value pairs." }
        content_details: { type: object, nullable: true }
        created_at: { type: string }
        updated_at: { type: string }
    ResourceSection:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        description: { type: string }
        type: { type: string, example: Section }
        status: { type: string }
        ongoing_edit: { type: boolean }
        position: { type: integer }
        content_status: { type: string, enum: [Published, Unpublished, UnpublishedEdit, MarkedForDeletion] }
        units:
          type: array
          description: "Content items in the section (courses). Playlists nest resources under `contents` instead."
          items: { $ref: '#/components/schemas/ResourceUnit' }
    ResourceUnit:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        description: { type: string }
        type: { type: string, enum: [Attachment, RichText, Link, Quiz, SurveyStep, VideoContent, InstructorTraining, SCORM, AICC, LTI] }
        position: { type: integer }
        duration: { type: integer, description: "Estimated duration in minutes." }
        unit_details: { type: object, description: "Type-specific detail; varies by `type` — e.g. a link URL, attachment file, quiz configuration, video source." }
        status: { type: string, enum: [Active, Draft] }
        content_status: { type: string, enum: [Active, Draft, UnpublishedEdit, MarkedForDeletion] }
        ongoing_edit: { type: boolean, nullable: true }
        mark_for_deletion: { type: boolean }
        has_impact: { type: boolean }
        completion_watch_threshold_pct: { type: integer, nullable: true }
        completion_time_threshold_pct: { type: integer, nullable: true }
        completion_require_scroll: { type: boolean }
        created_at: { type: string }
        updated_at: { type: string }
